.contenedor{
    padding-inline-start: 0;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
grid-gap: 20px;
/* background-color:#037E8C; */
margin-top: 50px;
}
.container{
    
    list-style: none;
    padding: 40px;
    background-color:transparent;
    color: #222;
    text-align: center;
} 
.container:hover {
    animation: bounce 0.5s linear;
}
@keyframes bounce {
    20% {
        transform: translateY(-6px);
}
40%{  transform: translateY(0px);}
60% { transform: translateY(-2px); }
80%{  transform: translateY(0px);}
}
.container1 {
    list-style: none;
    text-align: center;
    color: #318aac !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
   
    transition: all 1s ease;
    position: absolute;
  }
.container1:hover {
    background: #318aac;
    color: #fff !important;
  }
.namefav{
    color: black;
    text-decoration-line: underline;
    font-size: 25px;
    font-style: italic;
    text-transform: uppercase;
    /* font-size: 32px;
    font-weight: normal;
    margin-bottom: 0; */
}
.typesfav{ 
     color: black;
    text-decoration-line: underline;
    font-size: 20px;
    font-style: italic;
   }
.remover{
        color: black;
        align-self: flex-end;
        border: coral;
        background-color: cornsilk;
        font-size: 20px;
        font-style: italic;
        border: 3px solid;
    }
.huno{
  display: flex;
  margin-left: 30px;
}
.buttonvolverfav{
    color: black;
    align-self: flex-end;
    border: coral;
    background-color: cornsilk;
    font-size: 20px;
    font-style: italic;
    border: 2px solid;
    position: fixed;
    right: 30px;
    top: 5px;
}

