
.buttoncargar{
    align-self: flex-end;
    border: brown;
    background-color: skyblue;
    font-size: larger;
}
.buttonordenado{
    color: black;
    align-self: flex-end;
    border: coral;
    background-color: cornsilk;
    font-size: medium;
}
.buttoncrear{
font-size: 24px;
font-style: italic;
color: white;
position: absolute;
right: 230px;
color: #037E8C;
border: 3px solid #037E8C;
text-decoration: auto;
border-radius: 10px;
}
.favoritos{
font-size: 24px;
font-style: italic;
color: white;
position: absolute;
right: 80px;
color: #037E8C;
border: 3px solid #037E8C;
text-decoration: auto;
border-radius: 10px;
}
.cardscontainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.titulohome{
margin: 0;
color:currentColor;
font-size: 50px;
text-shadow: 0 0 300px whitesmoke;
font-family: 'Century Ghotic', sans-serif;
font-style: italic;
}