.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.buttonland{
    text-align: center;
    /* height: 7%; */
    width: 100%;
    background: linear-gradient(to left, #354fe5c7 , #5b9de399);
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 7px 13px;
    text-align-last: center;
    color: whitesmoke;
    font-size: 26px;
    border-radius: 9px;
    font-weight: bold;
    border: 3px solid;
}
.buttonland:hover {
    color: black;
}
h1 {
    margin: 0;
    color:darkblue;
    /* color: #f9f3f9; */
    font-size: 50px;
    text-shadow: 0 0 300px whitesmoke;
    font-family: 'Century Ghotic', sans-serif;
    font-style: italic;
}
.logofeat{
    width: 200px;
}

@media screen and (max-width: 768px) {
    .logofeat{
        width: 150px;
    }
    h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 370px) {
    .buttonland{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 5px 10px;
        font-size: 20px;
    }
    .logofeat{
        width: 100px;
    }
    h1{
        font-size: 30px;
    }
}