.readme{
    position: absolute;
    top: 0;
    left: 40px;
}
.buttoncargar{
    align-self: flex-end;
    border: brown;
    background-color: skyblue;
    font-size: larger;
    border: 1px solid;
}
.badge{
    margin-right: 25px;
    margin-left: 50px;
    height: 25px;
    font-size: 15px;
}
