.paginacion {
	display: inline-flex;
	margin:20px 0;
	list-style:none;
	text-align: center;
	justify-content: space-around;
	/* display:inline-block; */
	margin-right:10px;
	/* display:block; */
	padding:10px 20px;
	color:#fff;
	text-decoration: none;
	background:#037E8C;
	font-weight:bold;
width: 70vh;
}


.ul{
    display: contents;
}
